In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import FinanceDataReader as fdr

## custom libs
from korquanttools.pricevolume.loader import KRXPriceDM
from korquanttools.pricevolume.utils import DateUtil

In [2]:
fdr.__version__

'0.9.31'

In [3]:
stocklisting = fdr.StockListing('KRX') # 현재 KRX에 상장된 종목들 리스트
stocklisting.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
# global params

START = 20200101
END = 20220520

### 상폐 종목은?

In [5]:
sinlagen = fdr.DataReader('215600', DateUtil.numdate2stddate(START), DateUtil.numdate2stddate(END))

In [6]:
sinlagen # 상폐종목의 경우 close만 유지되고 ohl, vol, change 모두 0으로 나옴.

             Open   High    Low  Close    Volume    Change
Date
2020-01-02  14650  14650  14200  14400   1160611 -0.010309
2020-01-03  14450  14450  13800  13900   2188722 -0.034722
2020-01-06  13600  13600  12800  12900   2719589 -0.071942
2020-01-07  13050  16750  12950  16750  25117828  0.298450
2020-01-08  17250  19700  16700  16850  43905092  0.005970
...           ...    ...    ...    ...       ...       ...
2022-05-16      0      0      0  12100         0  0.000000
2022-05-17      0      0      0  12100         0  0.000000
2022-05-18      0      0      0  12100         0  0.000000
2022-05-19      0      0      0  12100         0  0.000000
2022-05-20      0      0      0  12100         0  0.000000

[590 rows x 6 columns]

In [7]:
'215600' in stocklisting['Symbol'] # 예상대로, 현재 상장된 종목 리스트에는 상폐된 종목은 뜨지 않는다. 

# 즉, KRX Stocklisting에 있는 종목들만 가지고 데이터를 뽑아 lv2 DM을 만들어 했을 경우에는 survivorship bias에 빠지게 된다.

False

### 주식 분할은? 

주가와 거래량 확인

In [10]:
samsung_elec = fdr.DataReader('005930', DateUtil.numdate2stddate(START), DateUtil.numdate2stddate(END))

In [12]:
samsung_elec
# volume, price 모두 adjusted 된 것을 알 수 있다.

             Open   High    Low  Close    Volume    Change
Date
2020-01-02  55500  56000  55000  55200  12993228 -0.010753
2020-01-03  56000  56600  54900  55500  15422255  0.005435
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.005405
2020-01-08  56200  57400  55900  56800  23501171  0.017921
...           ...    ...    ...    ...       ...       ...
2022-05-16  67100  67400  66100  66300  11937555 -0.003008
2022-05-17  66600  67900  66600  67600  15680447  0.019608
2022-05-18  68300  68700  67600  68100  16486319  0.007396
2022-05-19  66500  67600  66500  67500  17073727 -0.008811
2022-05-20  67800  68400  67700  68000  12109671  0.007407

[590 rows x 6 columns]